doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        <div id="phone-form">
            <form action="/" method="post", id="form_phone">
                    <p class="welcome"> Alpha에 오신 것을 환영합니다! </p>
                    <input type="text" name= "phoneNum" id="phoneNum" placeholder="핸드폰 번호", required=true />
                    <input id="submitbutton" value="전송" type="submit">
            </form>      
                    <p>전화번호는 문자 메시지를 발송하는데에만 사용된 후 <br>파기되어 저장되지 않습니다.</p>
            
        </div>